{% extends "bare.html" %}
{% load static %}
{% block body %}
{% include 'partials/fork-github-ribbon.html' %}
<!-- Page Content -->
<div class="container">
    <div class="row">
      <div class="col-xs-12 logo-title-container">
        <img class='logo' src="{% static "images/django-logo-positive.png" %}" alt='Django logo'>
        <h1 class='logo-video-title'>.video</h1>
        <p class='curated-legend'><b>curated by <a href="https://rmotr.com">rmotr.com</a></b></p>
      </div>
    </div>
    {% block content %}{% endblock %}
    {% include 'partials/footer.html' %}

</div>

{% endblock %}
