{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Featured Video</h1>
    </div>
</div>
<!-- /.row -->

<div class="row" class='home-featured-video-container'>
    <div class="col-md-8">
        {% include 'partials/youtube-embed-iframe.html' with video=home_featured_video %}
    </div>
    <div class="col-md-4">
        <h3 class='title-and-speaker'>{{home_featured_video.title}} <br><small>{{ home_featured_video.speaker.full_name }}</small></h3>
        <p>{{ home_featured_video.description }}</p>
        {% include 'partials/video-badges.html' with video=home_featured_video %}
        <p class='permalink'>
          <a href="#">Permalink</a>
        </p>
    </div>
</div>
<!-- /.row -->
{% for category in featured_categories %}
  {% if category.featured_videos %}
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header"><strong>{{category.name}} -</strong> Featured Videos</h4>
        </div>
        {% for video in category.featured_videos %}
        <div class="col-sm-3 col-xs-6 category-featured-video-container">
          <h6 class='video-title'>{{ video.title }}</h6>
            {% include 'partials/youtube-embed-iframe.html' with video=video %}
            <h4 class='speaker-name'><small>{{ video.speaker.full_name }}</small></h4>
            <div>
              {% include 'partials/video-badges.html' with video=video %}
            </div>
        </div>
        {% endfor %}
    </div>
  {% endif %}
{% endfor %}

<!-- /.row -->
{% endblock %}
